h2 {
    font-size: 24px;
    color: #333;
    background-color: #f7f7f7;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-align: center;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .testimonial {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    background-color: #FDF88B;
  }
  
  .about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-color: #FDF88B;
    border: 1px solid #ccc;
    border-radius: 4px;
  }